.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.logoTitle {
  color: #333;
  font-size: 24px;
  text-decoration: none;
}

.menuItem {
  color: #333;
  text-decoration: none;
}

.menuContainer .MuiButton-root {
  text-transform: none;
}
